<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../php_app/config/db.php"
         colors="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="IntelliFlight Test Suite">
            <directory>../php_app/tests</directory>
        </testsuite>
        <testsuite name="FinalBillTest Suite">
            <directory>../php_app/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

